* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all .3s ease;
}

.btn-rainbow {
  background-color: #efefef;
  border-radius: 5px;
}

.span-rainbow {
  font-family: Arial, sans-serif;
  transition: all .5s ease;
}

.btn-rainbow:hover {
  background-color: #202020;
}

.btn-rainbow:hover > :first-child {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 14.2%, rgba(249,255,0,1) 28.4%, rgba(26,255,0,1) 42.6%, rgba(0,255,244,1) 56.8%, rgba(16,0,255,1) 71%, rgba(154,0,255,1) 85.2%, rgba(255,0,0,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-new:hover {
  background-color: green;
  color: white;
}

.btn-clear:hover {
  background-color: grey;
  color: white;
}

.container {
  border: 2px solid black;
  display: grid;
  gap: 0;
  height: 500px;
  width: 500px;
  margin-top: 2rem;
}

.div {
  background-color: white;
}